*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.attencont{
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.navdiv{
    width:100%;
}

.filterdiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 100px;
    margin-bottom: 130px;
    
    
}

.filtertopdiv{
    width: 85%;
    height: 300px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
}

/* .filterdowndiv{
    width: 85%;
    background-color: bisque;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fielddiv{
    width: 100%;
    display: flex;
    justify-content: center;
    
} */

/* Define custom styles for the button */
.customButton {
    background-color: #1976d2; /* Default background color */
    color: white; /* Default text color */
    transition: background-color 0.3s ease, color 0.3s ease;
    height: 40px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  .buttondiv{
    margin-top: 20px;
    margin-left: 120px;
  }
  
  .customButton:hover {
    background-color: white; /* Hover background color */
    color: #1976d2; /* Hover text color */
  }

  .togglediv{
    width: 50%;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .iframediv{
    width: 80%;
    background-color: aqua;
    min-height: 700px;
  }
  
  .dividerdiv{
    width: 100%;
  }

  .load-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 60%;
    overflow: hidden;
  }