.HomepageContainer{
    width: 100vw;
    min-height: 100vh;
    background-color:white;
    
}

.Navbar{
    width: 100%;
    /* position: fixed; */
}
.Filter{
    width: 100%;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    /* background-color: aquamarine; */
    

}
.Filterleft{
    width: 75%;
    display: flex;
    /* background-color: bisque; */
    justify-content: center;
    align-items:center ;
}

.Filterright{
    width: 25%;
    height: 50px;
    /* background-color: aqua; */
    display: flex;
    padding-top: 20px;
    align-items: center;
    
    
}

.Details{
    width: 85%;
    /* background-color: blanchedalmond;
    height: 200px; */
    margin-top: 30px;
}

.Detailscont{
    width: 100%;
    display: flex;
    /* display: none; */
    justify-content: center;
    padding-top: 10px;
}

.Uploaddiv{
    width: 100%;
    display: flex;
    /* display: none; */
    justify-content: center;
    align-items: center;
}
.upload{
    width: 80%;
    height: 300px;
    /* background-color: blue; */
    display: flex;
    /* display: none; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    margin-top: 80px;
    border: 0.5px solid #c0bfbf;
}
.uploadloading{
    width: 80%;
    width: 80%;
    height: 300px;
    /* background-color: blue; */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    margin-top: 80px;
    padding: 30px;
    border: 0.5px solid #c0bfbf;
}

.loadingani{
    width: 300px;
}

.upload h4{
    color: gray;
    margin-bottom: 30px;
}


h3{
    padding-left: 20px;
    padding-right: 20px;
}





