.Loginpagecontainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    background-color: white;
}

.loginbox{
    width: 90%;
    height: 90vh;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    width: 40%;
    height: 450px;
    /* background-color: black; */
    border-radius: 30px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.username,.password{
    width: 80%;
    margin: 20px;
    /* background-color: black; */
}
.loginbutton{
    width: 80%;
    margin: 20px;
    height: 50px;
    /* background-color: black; */
}
.divide{
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.navbar{
    width: 100%;
}